@font-face{
    font-family: glossnbloom;
    src: url(../fonts/Gloss_And_Bloom.ttf);
}
@font-face{
    font-family: Raspberry;
    src: url(../fonts/raspberrygranola.ttf);
}
@font-face{
    font-family: Kissntell;
    src: url(../fonts/Kiss%20&%20Tell.ttf);
}
@font-face{
    font-family: Ringlead;
    src: url(../fonts/Ringlead.ttf);
}
@font-face{
    font-family: Other;
    src: url(../fonts/The%20Others%20Are%20Here.otf);
}
@font-face{
    font-family: AlpineCleanL;
    src: url(../fonts/Alpine%20Typeface%20Clean%20light.ttf);
}
@font-face{
    font-family: Glitch;
    src: url(../fonts/A%20Glitch%20In%20Time.ttf);
}
@font-face{
    font-family: Sweetly;
    src: url(../fonts/Sweetly%20Broken.ttf);
}
@font-face{
    font-family: Always;
    src: url(../fonts/always%20forever.ttf);
}
@font-face{
    font-family: Comfortaa-R;
    src: url(../fonts/Comfortaa-Regular.ttf);
}
@font-face{
    font-family: huntress;
    src: url(../fonts/huntress.otf);
}
