//fonts
$opensans: 'Open Sans Condensed', sans-serif
$indief: 'Indie Flower', cursive
$amatic: 'Amatic SC', cursive
$josefine: 'Josefin Slab', serif
$oldstandart: 'Old Standard TT', serif
*
  box-sizing: border-box
figure
  margin: auto
img
  max-width: 100%
a
  text-decoration: none
  &:hover
    color: purple
figure.rr
  position: relative
  img
    width: auto
    height: auto
    min-width: 100%
    display: block
.CName
  font-weight: bold
//General
.indief
  font-family: $josefine
  margin-bottom: 0
  font-size: 1.6em
  &.i
    font-size: .8em
    font-style: italic
    margin-bottom: 20px
.hunt
  font-family: 'huntress'
  text-transform: uppercase
  text-align: center
.page-overview
  header
    position: fixed
    width: 100%
    min-height: 50px
    box-shadow: rgba(0,0,0,.3) 1px 3px 5px
    background: rgba(255,255,255,.7)
    -webkit-backdrop-filter: blur(20px)
    z-index: 1
    margin-bottom: 20px
    nav
      position: absolute
      top: 0
      right: 0
      width: 40%
      height: 100%
      ul
        width: 100%
        height: 100%
        margin: 0
        display: table
        table-layout: fixed
        li
          text-align: center
          display: table-cell
          overflow: hidden
          align-items: center
          vertical-align: middle
          margin: 0
          position: relative
          width: 100%
          color: #000
          font-weight: bold
          transform: translate(0)
          transition: all .3s ease-in-out
          a
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
          &:hover
            transform: translateY(-5px)
            transition: all .3s ease-in-out
  .wrapper
    background: url(../img/hero.jpg)
      size: cover
      position: center center
      repeat: no-repeat
    .hero-title
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      font-family: $josefine
      font-weight: bolder
      color: #fff
      text-shadow: rgba(0,0,0,.3) 1px 3px 3px
      text-align: center
      span
        font-size: 5em
        text-align: center
  .wrapp
    padding-top: 70px
    article.container
      box-shadow: rgba(0,0,0,.3) 1px 3px 5px
      margin-bottom: 20px
      .hero
        width: 100%
        position: relative
        background: url(../img/mini-hero.jpg)
          size: cover
          position: center center
          repeat: no-repeat
        margin-bottom: 20px
        #tittle
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)
          text-align: center
          color: #fff
          h2,h5
            text-shadow: rgba(0,0,0,.3) 1px 3px 3px
      .content-wrapper
        width: 100%
        padding: 10px
        p#present
          margin: 20px 0
          text-align: justify
        #hail
          text-align: center
          .img-row
            margin-bottom: 20px
            figure
              overflow: hidden
              box-shadow: rgba(0,0,0,.3) 1px 3px 3px
              img
                filter: grayscale(60%)
                transition: all .3s ease-in-out
              figcaption
                position: absolute
                bottom: 10px
                left: 0px
                transform: translate(-100%)
                transition: all .3s ease-in-out
                text-indent: 10px
                white-space: nowrap
                background: #000
                color: #fff
                padding: 3px 5px
                box-shadow: rgba(255,255,255,.3) 1px 2px 2px
              a
                position: absolute
                top: 0
                left: 0
                right: 0
                bottom: 0
              &:hover
                transition: all .3s ease-in-out
                img
                  filter: grayscale(0)
                figcaption
                  transform: translate(0)
        .rsoc
          figure
            padding: 8%
            img
              border-radius: 50%
              &:hover
                cursor: pointer
  footer
    background: #000
    width: 100%
    min-height: 100px
