//output:index.html
doctype html
html(lang='es')
    head
        title Limbo City PRO
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        meta(name='description', content='description')
        meta(name='keywords', content='keywords')
        meta(name='author', content='author')
        meta(name="robots", content="index, follow")

        //- ----- link website ----- //
        link(rel='icon' href='src/img/favicon.png' type='image/x-icon')

        //- ----- CSS Files ----- //
        link(rel='stylesheet', href='../../css/normalize.css')
        link(rel='stylesheet', href='../../css/skeleton.css')
        link(rel='stylesheet', href='css/master.min.css')
        //- ----- JS Files ----- //
        script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js', attr)
        script(type='text/javascript', src='js/functions.js', attr)

    body.page-overview
      .wrapp
      article.container
        h1 Limbo City
        h4 Nuestro negocio es la vida misma.
        hr
        #slideshow
        p.
          Limbo City es un proyecto donde se pretenden englobar servicios de desarrollo digital, tales como <i>Diseño WEB, servicio de mantenimiento y soporte tecnico para diferentes tipos de dispositivos electronicos</i> y todo aquel servicio que requiera para darle a su negocio o empresa el empujon hacia el mundo digital que hoy en dia tanto se requiere.
        #show-other.wrapp
          #t-title
            h3 Base de Conocimiento
            p.
              Aprend&aacute;mos sobre tecnolog&iacute;a y usemosla para nuestro provecho.
            a(href='#', title="view knowledge base", attr) ver mas...
            
        .pics
          h3 Echa un ojo a lo que tenemos para ti
          .row.img-row
            figure.columns.four#code
              img(src='src/img/code.jpg', attr='code')
              figcaption Learn to CODE
            figure.columns.four#anime
              img(src='src/img/anime.jpg', attr='anime')
              figcaption Know about Anime
            figure.columns.four#art
              img(src='src/img/art.jpg', attr='art')
              figcaption See Art
          .row.img-row
            figure.columns.four#movies
              img(src='src/img/movie.jpg', attr='movie')
              figcaption See movies
            figure.columns.four#music
              img(src='src/img/music.jpg', attr='music')
              figcaption Hear Music
            figure.columns.four#other
              img(src='src/img/other.jpg', attr='other')
              figcaption Let's to do other things
        #something-else
          h3 Ademas...
          p.
            Limbo City tambien brindara servicios especializados a clientes que asi lo requieran, tales como <i>auditorias informaticas (Sistemas, software y redes), mantenimiento correctivo, aplicacion de procesos y capacitacion de personal en el uso de sistemas informaticos.</i>
          a(href='#', title="view knowledge base", attr) ver mas...
        #do-that
          h3 Politica
          p.
            En Limbo City tenemos la politica de "Hagalo usted mismo" y "Busque siempre ser mejor cada d&iacute;a", ademas de prestar nuestros servicios, nuestro principal objetivo es que usted o sus empleados aprendan como hacer todo lo que necesitan ustedes mismos. Por eso enfatizamos nuestros cursos por sobre todo. Ademas de dar la facilidad de que cualquier persona con el minimo de conocimiento puede antrar a cualquier curso, ya que estos son adaptables a cada una de las personas ingresadas.
          
        footer
          #foo
