//output:index.php
|<?php include 'm-config.php';?>
doctype html
html(lang='es')
    head
        title Limbo City PRO
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        meta(name='description', content='Freelance Web Designer - Diseño y programacion Web, Tutoriales gratuitos para que aprendas a hacerlo tu mismo!')
        meta(name='keywords', content='limbo,city,pro,angel,web,design,diseño,programming,program,programacion,sitio,internet,pagina,tutoriales,html,css,js,javascript,izucar.matamoros,puebla,mexico')
        meta(name='author', content='Angel de jesus gomez juarez, lynild02')
        meta(name="robots", content="index, follow")
        meta(property="og:title" content="Limbo City PRO")
        meta(property='og:type' content='website')
        meta(property="og:url" content="http://limbocity.xyz")
        meta(property="og:site_name" content="LimboCity")
        meta(property="og:locale" content="es_es")
        meta(property="og:image" content="http://limbocity.xyz/img/og.png")
        meta(property="og:image:type" content="image/png")
        meta(property="og:image:width" content="800")
        meta(property="og:image:height" content="800")
        meta(property="og:description" content="Freelance Web Designer - Diseño y programacion Web, Tutoriales gratuitos para que aprendas a hacerlo tu mismo!")
        //- ----- link website ----- //
        link(rel='icon' href='src/img/favicon.png' type='image/x-icon')

        //- ----- CSS Files ----- //
        link(rel='stylesheet', href='Skeleton/css/normalize.css')
        link(rel='stylesheet', href='Skeleton/css/skeleton.css')
        link(rel='stylesheet', href='css/font.css')
        link(rel='stylesheet', href='css/master.min.css')
        link(rel='stylesheet', href!='<?=$serv?>node_modules/loaders.css/loaders.min.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Amatic+SC|Indie+Flower|Josefin+Slab|Old+Standard+TT|Open+Sans+Condensed:300')
        
        //- ---- JS Files ----- //
        script(type='text/javascript', src='node_modules/jquery/dist/jquery.js' async='async')
        
    body.page-overview(onload = "function($('.loader-c').fadeOut('slow'))")
      //- ---- First ---- //
      .loader-c
        .loader
          .ball-scale-multiple
      header
        nav
          ul
            li Portafolio
              a(href!='<?=$serv?>pages/p')
            li Tutoriales
              a(href!='<?=$serv?>pages/t')
            li Dibujo y mas
              a(href!='<?=$serv?>pages/a')
            li Acerda de...
              a(href!='<?=$serv?>pages/h')
      .wrapper
        .hero-title
          span Creamos y te enseñamos a crear.
          hr
          h4 Diseño y Programación Web &mdash; Tutoriales Gratuitos
      .wrapp
        article.container
          .hero.h-wrapp
            #tittle
              h2 Limbo City
              h5 <i>Si no existe aún... Prográmalo!</i>
          h3.hunt Me gusta lo dificil, me atrae lo complicado y me enamoro de lo imposible.
          hr
          .content-wrapper
            p.indief Diseñador Web Independiente&nbsp;&mdash;&nbsp;desde M&eacute;xico
            p.indief.i Freelance Web Designer&nbsp;&mdash;&nbsp;from M&eacute;xico
            p#present.
              Hola! Soy <b><a href='<?=$serv?>/pages/t/aboutme.php'>Lynild</a></b>. Se puede decir que soy el <i>'fundador/creador/gato/lo-que-sea'</i> de <b>Limbo City</b>; para los que tengan interes en saber de que va todo esto les dejare un link en el que se describe todo acerca del proyecto <b><i>Limbo City</i></b> justo... <a href='pages/h/theidea.php'>aqui.</a><br><br>
              En esta pagina, aparte de poder contratar mis servicios como diseñador/programador, tambien encontraras secciones dedicadas al arte del <b>dibujo</b>, el arte de la <b>programación</b> y <b>tutoriales</b> para aquellas personas que desean aprender un <b>poco sobre todo.</b>
            h3.hunt Pasemos a lo bueno!
            #hail
              p.indief Que quieres hacer ahora?
              p.indief.i What do you want to do Now?
              .row.img-row
                figure.rr.columns.four
                  img(src='img/block/6.jpg', title="portfolio", alt="portafolio", attr)
                  figcaption Portafolio
                  a(href!='<?=$serv?>/pages/p')
                figure.rr.columns.four
                  img(src='img/block/2.jpg', title="tutorials", alt="tutoriales", attr)
                  figcaption Tutoriales
                  a(href!='<?=$serv?>/pages/t')
                figure.rr.columns.four
                  img(src='img/block/1.jpg', title="art", alt="arte", attr)
                  figcaption Arte
                  a(href!='<?=$serv?>/pages/a')
              hr
            h3.hunt Redes Sociales
            .row.rsoc
              figure.columns.four
                img(src='img/fb.png', title="facebook", alt="facebook", attr)
                a(href='https://www.facebook.com/limbocity/' title='Facebook' target='_blank')
              figure.columns.four
                img(src='img/tw.png', title="twitter", alt="twitter", attr)
                a(href='' target='_blank')
              figure.columns.four
                img(src='img/be.png', title="behance", alt="behance", attr)
                a(href='https://www.behance.net/lynild02' target='_blank')
      footer
        article.container
          .row
            .columns.three
              ul
                li
                  a(href='#') About Us
                li
                  a(href='#') About ME
                li
                  a(href='#') Privacidad
                li
                  a(href='#') Responsabilidad
            .columns.three
              ul
                li
                  a(href='https://www.facebook.com/limbocity/' title='Facebook' target='_blank') Facebook
                li
                  a(href='#') Twitter
                li
                  a(href='#') Google +
                li
                  a(href='https://www.behance.net/lynild02' target='_blank') Behance
            .columns.six#mc_embed_signup
              p <strong>Suscribete para recibir actualizaciones</strong> Recibe las noticias y mensajes lo mas pronto posible.
              form.row#mc-embedded-subscribe-form(action="//xyz.us12.list-manage.com/subscribe/post?u=1f3f3272787af7763f0467cdd&amp;id=b2c233b12a" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
                .columns.eight
                  input.u-full-width.email#mce-EMAIL(type="email" value="" name="EMAIL" placeholder="Correo Electronico" required)
                div(style="position: absolute; left: -5000px;" aria-hidden="true")
                  input(type="text" name="b_1f3f3272787af7763f0467cdd_b2c233b12a" tabindex="-1" value="")
                .columns.four
                  input.button-primary#mc-embedded-subscribe.button(type='submit' name="subscribe" value='Suscribir')
          .row
            p.indief.i Creado por <strong>Angel de Jesus Gomez Juarez, Lynild</strong>. <strong>Limbo City 2017</strong>
                
    script(type='text/javascript', src!='<?=$serv?>node_modules/loaders.css/loaders.css.js' async)
    script(type='text/javascript', src='js/functions.js' async)
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-70395856-1', 'auto');
      ga('send', 'pageview');
    
