//output:README.md
h1 Limbo City
h3 Let's Start this f*ckin Project!
hr
#img-header
  img(src='https://lh6.googleusercontent.com/-pRV3hvF_Wr8/UGzTDw8eh4I/AAAAAAAAFi8/l46ZhDP84rc/s1600/anime-anime_sniper.jpg', alt='lets-start')

p.
  Bueno, primero que nada este repositorio solo tiene como proposito capturar y almacenar el codigo fuente de lo que sera la pagina principal de <b>Limbo City</b>.
  Por lo que realmente no es util, si lo que estas buscando es material, codigo, o una solucion a tu problema, o a tus dudas.<br>Lo sentimos mucho.<br><br>
  Una vez aclarado esto, las bases del projecto son:
ul
  li Establecer el rumbo de la orientación de la pagina y su material
  li El poder ubicar facilmete la estructura de la misma.
  li Documentar el progreso del sitio web.</li>

p. Si algo de aqui te sirve, no dudes en usarlo.

hr
h3 Angel de jesus Gomez juarez - Lynild
h3 Limbo City
