//output:nota.php
h1 Segunda nota
hr
p.
  En esta segunda nota me quiero dirigir a ustedes para decirles que me encanta el puto hentai.
img(src='http://www.anime-town.com/wp-content/gallery/h_hentai/hentai-1.jpg')
h2 Y siempre sera asi!
br
iframe(width="640" height="360" src="https://www.youtube.com/embed/eWItJOYc4Wg" frameborder="0" allowfullscreen)
h1 See u later M*** Fu**rs!
