//output:index.php
|<?php include '../../m-config.php';header("Content-Type: text/html;charset=utf-8");?>
doctype html
html(lang='es')
    head
        title Portafolio - Limbo City
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        meta(name='description', content='Portafolio - Los trabajos de diseño y programacion Web que hemos realizado, ademas de algunos proyectos personales y mas')
        meta(name='keywords', content='limbo,city,pro,angel,web,design,diseño,programming,program,programacion,sitio,internet,pagina,tutoriales,html,css,js,javascript,izucar,matamoros,puebla,mexico,seguridad,concejos,social,redes,portafolio,trabajos,clientes,empresas,asociaciones,portfolio,portafolio,mi,trabajo,proyecto,sitios,hechos,terminados,proceso')
        meta(name='author', content='Angel de jesus gomez juarez, lynild02')
        meta(name="robots", content="index, follow")
        meta(property="og:title" content="Limbo City PRO - Portafolio")
        meta(property="og:url" content="http://limbocity.xyz/pages/p")
        meta(property="og:site_name" content="LimboCity")
        meta(property="og:locale" content="es_ES")
        meta(property="og:image" content="http://limbocity.xyz/img/og.png")
        meta(property="og:description" content="Conoce mi trabajo y proyectos que tengo aun en proceso!")
        //- ----- link website ----- //
        link(rel='icon' href!='<?=$serv?>src/img/favicon.png' type='image/x-icon')

        //- ----- CSS Files ----- //
        link(rel='stylesheet', href!='<?=$serv?>Skeleton/css/normalize.css')
        link(rel='stylesheet', href!='<?=$serv?>Skeleton/css/skeleton.css')
        link(rel='stylesheet', href!='<?=$serv?>node_modules/loaders.css/loaders.min.css')
        link(rel='stylesheet', href!='<?=$serv?>css/font.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Amatic+SC|Indie+Flower|Josefin+Slab|Old+Standard+TT|Open+Sans+Condensed:300' async)
        link(rel='stylesheet', href='css/master.min.css')

        //- ---- JS Files ---- //
        script(type='text/javascript', src!='<?=$serv?>node_modules/jquery/dist/jquery.min.js')
        script(type='text/javascript', src!='<?=$serv?>node_modules/loaders.css/loaders.css.js')
        
    body.page-overview
      //- ---- First ---- //
      .loader-c
        .loader
          .ball-scale-multiple
      .back-big-g
      header
        nav
          ul
            li Inicio
              a(href='../../')
            li Tutoriales
              a(href='../t')
            li Dibujo y mas
              a(href='../a')
            li Acerda de...
              a(href='../h')
      .fullp#fullpage
        #f-backg.section.asect
          .title#way
            span Portafolio
            hr
            h4 Por que los hechos cuentan mas que las palabras.
        .section.asect.ahbd
          .title.black
            span.ring All Happy By Design
            p.
              Como <b>diseñador y programador web</b> siempre intento dejar cada gota de empeño en mis trabajos y quiero compartir algunos contigo.
        .section.fp-autoscroll.whole-content
          #last
            div
              h2.hunt Mis ultimos proyectos
              p.indief.i My last projects
              p Mis trabajos mas recientes de Diseño y Programación WEB
              .row
                //- ---- Aqui proceso de presentacion 3 principales ---- //
                |<?php
                |  $query="SELECT * FROM projects ORDER BY date DESC LIMIT 0, 3";
                |  $do = $conexion->query($query);
                |?>
                //- ---- Bucle ---- //
                |<?php while($row=$do->fetch_assoc()){ ?>
                div.columns.four.samehw
                  figure.rr(class!='<?php echo $row["attr"];?>')
                    img(src!="data:image/png;base64,<?php echo base64_encode($row['image']);?>", title!="<?php echo $row['title'];?>", attr)
                    figcaption <?php echo $row['title'];?><br><hr><span><?php echo $row['description'];?></span>
                    a(href!="<?php echo $row['url'];?>", target='_blank')
                  |<script>$('.<?php echo $row["attr"];?>').mouseover(function(){$('.back-big-g').css({'transition':'all .5s ease-in-out','opacity':1,'background':'url(data:image/png;base64,<?php echo base64_encode($row["image2"]);?>)','background-size':'cover','background-repeat':'no-repeat','background-position':'center center'})});$('.<?php echo $row["attr"];?>').mouseleave(function(){$('.back-big-g').css({'opacity':0,'transition':'all .3s ease-in-out'})});</script>
                |<?php } ?>
            h2.hunt Todos mis proyectos
            p.indief.i All my projects
            p.indief Todos los proyectos de mi portafolio, para clientes fisicos/reales y proyectos personales en proceso o proyectos experimentales.<br><span class='indief i'>Beware, Genius at Work :v</span>
          .c-fig.wrapp
            .cfigt
              |<?php
              |  $query="SELECT * FROM projects ORDER BY date ASC";
              |  $do = $conexion->query($query);
              |?>
              //- ---- Bucle ---- //
              |<?php while($row=$do->fetch_assoc()){ ?>
              figure.close
                img(src!="data:image/png;base64,<?php echo base64_encode($row['image']);?>", title!="<?php echo $row['title'];?>", attr)
                figcaption
                  #c-text
                    p.tt <?php echo $row['title'];?>
                    hr
                    p.pp2 ver
                a(href!="<?php echo $row['url'];?>", target='_blank')
              |<?php } ?>
          //- ----- Buy ---- -//
          .buyy#particles-js
            .tpart
              h3 Información y Cotizaciones
              p Podemos cotizar para ti cualquier proyecto sin costo ni compromiso.
              p Ademas si no tienes bien definido que tipo de sitio sería mejor para tu negocio te ayudamos en el proceso de seleccionar y diseñar la imagen por completo.
              p <strong>Solo llama!</strong><br>&nbsp;o escribenos, lo que vaya mas contigo...
              strong
                <a href='tel:+522431162653'>Llamanos</a>&nbsp;ó&nbsp;<a href='mailto:info@limbocity.xyz'>Escribenos</a>
          //- ----- Contak ----- -//
          #contact.wrapp
            article.container
              form#ajax-form(action!='<?=$serv?>mail-it.php' method="post" name="ajax-form")
                .tcontact
                  h2 Contacto
                  p.
                    Contactame directamente para cualquier cosa!
                    Correo:&nbsp;<a href='mailto:info@limbocity.xyz'>info@limbocity.xyz</a>&nbsp;Tel:&nbsp;<a href='tel:+522431162653'>+52 243 1162653</a>
                  hr
                  p.
                    Información&nbsp;&mdash;&nbsp;Pedidos&nbsp;&mdash;&nbsp;Cotizaciones
                .row
                  input.u-full-width(type='text' id='name' name='name' placeholder='Nombre')
                  input.u-full-width(type='email' id='email' name='mail' placeholder='E-mail')
                  input.u-full-width(type="text" id='tel' name="tel" placeholder="Telefono")
                  textarea.u-full-width(name="message" rows="3" cols="40" placeholder='Mensaje')
                  input.columns.eleven.bb1.send.send_message(type='submit' value='Enviar')
                  div#err-form.error.u-full-width Ha habido un problema al validar el formulario.<br/>Revisa que los datos sean correctos y que hallas llenado todos los campos
                  div#err-timedout.error.u-full-width Error de conexion con el Servidor!
                  div#err-state.error.u-full-width Simplemente algo salio MAL :(
              div(id="ajaxsuccess") Mensaje Enviado!<br><hr><br><span class='ops'>Ooops!<br>;D</span>
          footer
            article.container
              .row
                .columns.three
                  ul
                    li
                      a(href='#') About Us
                    li
                      a(href='#') About ME
                    li
                      a(href='#') Privacidad
                    li
                      a(href='#') Responsabilidad
                .columns.three
                  ul
                    li
                      a(href='https://www.facebook.com/limbocity/' title='Facebook' target='_blank') Facebook
                    li
                      a(href='#') Twitter
                    li
                      a(href='#') Google +
                    li
                      a(href='https://www.behance.net/lynild02' target='_blank') Behance
                .columns.six#mc_embed_signup
                  p <strong>Suscribete para recibir actualizaciones</strong> Recibe las noticias y mensajes lo mas pronto posible.
                  form.row#mc-embedded-subscribe-form(action="//xyz.us12.list-manage.com/subscribe/post?u=1f3f3272787af7763f0467cdd&amp;id=b2c233b12a" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
                    .columns.eight
                      input.u-full-width.email#mce-EMAIL(type="email" value="" name="EMAIL" placeholder="Correo Electronico" required)
                    div(style="position: absolute; left: -5000px;" aria-hidden="true")
                      input(type="text" name="b_1f3f3272787af7763f0467cdd_b2c233b12a" tabindex="-1" value="")
                    .columns.four
                      input.button-primary#mc-embedded-subscribe.button(type='submit' name="subscribe" value='Suscribir')
              .row
                p.indief.i Creado por <strong>Angel de Jesus Gomez Juarez, Lynild</strong>. <strong>Limbo City 2017</strong>
    //- ---- SCRIPTS ---- -//
    //script(type='text/javascript', src!='<?=$serv?>node_modules/angular/angular.js')
    link(rel='stylesheet', href!='<?=$serv?>node_modules/fullpage.js/dist/jquery.fullpage.min.css')
    script(type='text/javascript', src!='<?=$serv?>node_modules/fullpage.js/vendors/scrolloverflow.js')
    script(type='text/javascript', src!='<?=$serv?>node_modules/fullpage.js/dist/jquery.fullpage.js')
    script(type='text/javascript', src!='<?=$serv?>node_modules/particles.js/particles.js')
    script(type='text/javascript', src!='<?=$serv?>node_modules/scrollflow/scrollflow.js' async)
    script(type='text/javascript', src!='<?=$serv?>node_modules/animate.css/animate.min.css' async)
    script(type='text/javascript', src!='<?=$serv?>js/contact.js')
    link(rel='stylesheet', href!='<?=$serv?>css/form.min.css' async)
    script(type='text/javascript', src='js/app.js')
    script(type='text/javascript', src='js/main.js')
    script.
      $(document).ready(function(){
        $('#fullpage').fullpage();
      });
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-70395856-1', 'auto');
      ga('send', 'pageview');
