//output:index2.php
|<?php include '../../m-config.php';?>
doctype html
html(lang='es')
    head
        title Angel Gomez | Freelance Web Designer & Developer
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        meta(name='description', content='description')
        meta(name='keywords', content='keywords')
        meta(name='author', content='author')
        meta(name="robots", content="index, follow")
        
        //- ----- link website ----- //
        link(rel='icon' href='src/img/favicon.png' type='image/x-icon')

        //- ----- CSS Files ----- //
        link(rel='stylesheet', href='css/style.min.css')
        
        //- ----- JS Files ----- //
        script(type='text/javascript', src='js/main.js', attr)
        script(type='text/javascript', src!='<?=$serv?>node_modules/jquery/dist/jquery.min.js', attr)
        
    body.page-overview
      .wrapp
        

        script(type='text/javascript', src='js/main.js')
