//output:orange_pay.html
doctype html
html(lang='es')
    head
        title LC | Comunicado
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        meta(name='description', content='Comunidado Limbo City.')
        meta(name='author', content='Lynild')
        
    body.page-overview
      style
          include ../Skeleton/css/normalize.css
      style
          include ../Skeleton/css/skeleton.css
      style
          include ../css/m_mail.min.css
      .wrapp.container
        #hero
          a(href='http://www.limbocity.xyz' target='_blank')
        #tblock
          p.
            Buenas tardes don <b>Roberto</b>, el coste de la pagina de <a href='http://www.orangepuebla.com'>Orange</a>, sera de <b><i>$3,000.00 <span class='i-text'>(tres mil pesos 00/100)</span></i></b><br>Sobre la programación de la pagina, incluidos efectos/animaciones de la misma y optimización de los tiempos de carga respecto a la velocidad del servidor.
          p.cent Se añade enlace, justo debajo, para realizar dicho Pago desde
          .imgpay.u-full-width
            a(href='https://www.paypal.com/invoice/payerView/details/INV2-AS63-C54H-99UQ-39PZ' target='_blank')
          p.cent.
            Pagar ahora usando <a href='https://www.paypal.com/invoice/payerView/details/INV2-AS63-C54H-99UQ-39PZ' target='_blank'>Paypal*</a><br>o<br><a href='http://www.paypal.me/LimboCity/3000' target='_blank'>Paypal Me</a><br><br><b>*No es necesario tener cuenta de Paypal para pagar.</b>
        #signature
          .row
            span.columns.four Limbo City 2017&nbsp;&copy;&nbsp;
            span.columns.four.port
              p.ag Angel de Jesus
                a.portf(href='http://www.limbocity.xyz/pages/p/' target='_blank')
            span.columns.four <a href='http://www.limbocity.xyz' target='_blank'>www.limbocity.xyz</a>
